body{
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
h1{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue";
    font-weight: 900;
    font-size: 100;
}
h2{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue";
    font-size: medium;
    font-weight: 300;
}
h3 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue";
    font-size:small;
    font-weight: 200;
}
p {
    font-size: small;
    font-weight: 300;
}
a
{
    font-size: small;
    font-weight: 300;
    color:aqua;
}


#h41 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue";
    font-weight: 400;
}
#h42 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue";
    font-weight: 400;
    text-indent: 2cm;
}
#h43 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue";
    font-weight: 400;
    text-indent: 4cm;
}
#h44 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue";
    font-weight: 400;
    text-indent: 6cm;
}

em {
    font-weight:100;
    font-size: small;
}