:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ---------------------------
   Helvetica Neue
---------------------------- */
@font-face {
  font-family: "Helvetica Neue Black";
  src: url("/fonts/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Black";
  src: url("/fonts/HelveticaNeueBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("/fonts/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("/fonts/HelveticaNeueMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("/fonts/HelveticaNeueThin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("/fonts/HelveticaNeueThinItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* ---------------------------
   Helvetica Now Text
---------------------------- */
@font-face {
  font-family: "Helvetica Now Text Black";
  src: url("/fonts/helveticanowtext-black-demo.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text Black";
  src: url("/fonts/helveticanowtext-blackitalic-demo.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text Bold";
  src: url("/fonts/helveticanowtext-bold-demo.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text Bold";
  src: url("/fonts/helveticanowtext-bolditalic-demo.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ---------------------------
   Base Styles
---------------------------- */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Helvetica Now Text", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
